<a href="https://colab.research.google.com/github/prati808/bigdata_1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
input_string = input("Enter the string 'Python': ")
char_list = list(input_string)

if input_string == "Python":
    if len(char_list) >= 2:
        del char_list[-2:]
        char_list.reverse()

        result_string = "".join(char_list)
        print(result_string)
    else:
        print("String is too short to delete at least 2 characters.")
else:
    print("Input string was not 'Python'.")

Enter the string 'Python': Python
htyP

In [3]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

addition = num1 + num2
subtract = num1 - num2
multiply = num1 * num2
divide = num1 / num2

print(f"Addition: {num1} + {num2} = {addition}")
print(f"Subtraction: {num1} - {num2} = {subtract}")
print(f"Multiplication: {num1} * {num2} = {multiply}")
print(f"Division: {num1} / {num2} = {divide}")

Enter the first number: 8
Enter the second number: 5
Addition: 8.0 + 5.0 = 13.0
Subtraction: 8.0 - 5.0 = 3.0
Multiplication: 8.0 * 5.0 = 40.0
Division: 8.0 / 5.0 = 1.6

In [4]:
sentence = input("Enter a sentence: ")
replaced_sentence = sentence.replace('python', 'pythons')
replaced_sentence

Enter a sentence: python is an easy language

'pythons is an easy language'

In [5]:
x = [23, 'Python', 23.98]
print(x)
type_list = []
for element in x:
  type_list.append(type(element))
type_list

[23, 'Python', 23.98]

[int, str, float]

In [8]:
 IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
 A = {19, 22, 24, 20, 25, 26}
 B = {19, 22, 20, 25, 26, 24, 28, 27}
 age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set IT_companies
print(len(IT_companies))

# Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print(IT_companies)

# Insert multiple IT companies at once to the set IT_companies
IT_companies.update(['Netflix', 'Tesla'])
print(IT_companies)

# Remove one of the companies from the set IT_companies
IT_companies.remove('IBM')
print(IT_companies)

# What is the difference between remove and discard
print("remove() raises an error if the item is not found, discard() does not.")

# Join A and B
C = A.union(B)
print(C)

# Find A intersection B
D = A.intersection(B)
print(D)

# Is A subset of B
print(A.issubset(B))

# Are A and B disjoint sets
print(A.isdisjoint(B))

# Join A with B and B with A
E = A.union(B) # Same as A.union(B)
print(E)

# What is the symmetric difference between A and B
F = A.symmetric_difference(B)
print(F)

# Delete the sets completely
del IT_companies
del A
del B

# Convert the ages to a set and compare the length of the list and the set.
age_set = set(age)
print(f"Length of age list: {len(age)}")
print(f"Length of age set: {len(age_set)}")
print("The length is different because sets only contain unique elements.")

7
{'Amazon', 'IBM', 'Oracle', 'Google', 'Microsoft', 'Twitter', 'Apple', 'Facebook'}
{'Amazon', 'Facebook', 'Netflix', 'Tesla', 'Oracle', 'Google', 'Twitter', 'IBM', 'Microsoft', 'Apple'}
{'Amazon', 'Facebook', 'Netflix', 'Tesla', 'Oracle', 'Google', 'Twitter', 'Microsoft', 'Apple'}
remove() raises an error if the item is not found, discard() does not.
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
Length of age list: 8
Length of age set: 5
The length is different because sets only contain unique elements.